body,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

.header {
    background-color: darkgray;
    height: 4vh;
    width: 100vw;
    padding: 20px;
    position: fixed;
    z-index: 999;
}

.main-content {
    display: block;
    background-color: slategray;
    width: 100%;
}

.menu {
    position: relative;
    display: inline-block;
    height: 100vh;
    overflow: hidden;
    width: 40%;
    background-color: aliceblue;
    z-index: 0;
}

.content {
    float: right;
    width: 60%;
    overflow: scroll;
    max-height: 100vh;
}

.header-container {
    width: calc(100vw - 40px);
    height: calc(4vh - 40px);
    font-size: 26px;
}

.logo-div,
.menu-div {
    display: inline-block;
}

.logo-div {
    float: left;
}

.menu-div {
    float: right;
}

.clear-fix {
    display: table;
    height: auto;
    clear: both;
}

.form-container {
    padding-top: 16vh;
    margin-left: 30px;
}

#scrollable-div {
    max-height: 100%;
    overflow: scroll;
    padding: 60px 30px 20px;
}

.product {
    position: relative;
    padding: 0px 10px 20px;
    background-color: whitesmoke;
    margin: 20px;
    border-radius: 6px;
    border: 1px solid grey;
}

.edit-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    height: 30px;
    padding: 5px 10px;
    background: cadetblue;
    border: 1px solid transparent;
    color: white;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
}

.overlay {
    z-index: 9999;
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(128, 128, 128, 0.5);
}

.popup {
    background-color: white;
    box-sizing: border-box;
    box-shadow: 5px 4px 8px black;
    width: 40vw;
    height: 40vh;
    transform: translate(70%, 50%);
    text-align: center;
    padding: 10px;
}

.popup form {
    margin: 20px;
    padding: 10px;
}

.popup input {
    display: block;
    width: 80%;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

.popup button {
    height: 30px;
    padding: 5px 10px;
    background: cadetblue;
    border: 1px solid transparent;
    color: white;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
}

#sp1,
#sp2,
#sp3 {
    color: green;
}


/* Dropdown Button */

.dropbtn {
    background-color: #3498DB;
    color: white;
    margin: 5px;
    padding: 14px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}


/* Dropdown button on hover & focus */

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #ddd
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
    display: block;
}

.menu-btn {
    background-color: #3498DB;
    border-radius: 4px;
}

.image-placeholder {
    background-color: rgb(28, 211, 224);
    display: flex;
    height: 80px;
    margin: 5px;
    width: 80px;
    align-self: auto;
}

.image-placeholder>h4 {
    align-self: center;
    text-align: center;
    width: 100%;
}